@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="table table-hover">
        <tbody>
            <tr>
                <th scope="row"><a href="/Practitioner/Login">Enter your ID</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="/Practitioner/Index">Personal Detail</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="/PatientList/Index">See patients list</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="/PatientList/Monitor">See patients monitored</a></th>
            </tr>
        </tbody>
    </table>
</div>
