@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="row">Get started</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><a href="/Practitioner/Index">Enter your ID</a></th>
                
            </tr>
            <tr>
                <th scope="row">See patients list</th>
            </tr>
            <tr>
                <th scope="row">See patients monitored</th>
            </tr>
        </tbody>
    </table>
</div>
