@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Practitioner</h4>
    <hr />
    @using (Html.BeginForm("EnterPractitionerId", "Practitioner", FormMethod.Post))
    {
        <input type="text" name="ID" id="Id" />

        <input type="submit" value="Enter" />
    }
    <hr />
    
</div>
