
@{
    ViewData["Title"] = "ML Analysis";
}

<h1>Analysis</h1>

<hr/>
<div><button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("BuildModel", "MLAnalysis")'">Rebuild Model</button></div>
<hr/>
<div><button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("LoadData", "MLAnalysis")'">Reload Data</button></div>
